<header>
    <!-- Navigation-->
    <nav class="navbar-expand-lg navbar-light fixed-top flex-wrap pb-1 pt-0" id="mainNav">
        <div class="bandeau_info col-12">
            <div class="bandeau_text">
                <span>
                    <p class="bandeau_text">Vous pouvez nous joindre : contact@konjac-france.fr </p>
                </span>
            </div>
            <div class="users_btn">
                <!-- <div class="user_content col-12 text-center"> -->
    
                    <!-- <li class="nav-item mx-2"> -->
                        <!-- <a class="nav-link" href="/login">Connexion</a> -->
                        <% if(isAdmin){%>
                    <a href="/logout" class="mx-1">
                        <button class="btn text-white">
                            Déconnexion
                        </button>
                    </a>
                    <%} else {%>
                    <a href="#" class="mx-1">
                        <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="/img/icon/accountv3.png" alt="Compte" width="32px">
                        </button>
                    </a>
                    <%}%>
                    <!-- </li> -->
                <!-- </div> -->
                <!-- <a class="mx-1" href="">
                    <img src="/img/icon/accountv3.png" alt="Compte" width="32px">
                </a> -->
                <a class="mx-1" href="">
                    <img src="/img/icon/panier-shopv3.png" alt="Panier Shopping" width="32px">
                </a>
            </div>
        </div>
        <div class="col-12 px-4 px-lg-5">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                <ul class="navbar-nav my-2 my-lg-0 align-items-center col-2-1-2 text-uppercase" style="height: 150px;">
                    <div class="navbar-nav align-items-center ">
                        <li class="nav-item link_item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Produits
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <div class="container categorie-size d-flex justify-content-center flex-wrap">
                                    <div class="container text-center col-6">
                                        <li><p class="text-black-50 fs-6 nav-link">Konjac en Spaghetti</p></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Sauce Tomate</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Au Poivre</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Mayonnaise</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Sauce Soja</a></li>
                                        
                                    </div>
                                    <div class="container text-center col-6">
                                        <li><p class="text-black-50 fs-6 nav-link">Konjac en Riz</p></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Sauce Tomate</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Au Poivre</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Mayonnaise</a></li>
                                        <li><a class="fs-6 dropdown-item" href="#">Sauce Soja</a></li>
                                        
                                    </div>
                                    <div class="container text-center col-6">
                                        <li><hr class="dropdown-divider"></li>
    
                                        <li><a class="fs-6 dropdown-item" href="/allproducts">Tous les Produits</a></li>
                                    </div>
    
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item link_item"><a class="nav-link" href="/recette">Nos Recettes</a></li>
                        <li class="nav-item link_item"><a class="nav-link" href="/histoire">Notre Histoire</a></li>
                    </div>
                    <div>
                        <a href="/">
                            <img src="/img/Logo-FranceKonjac.png" alt="" width="130" height="130" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div class="navbar-nav align-items-center ">
                        <li class="nav-item link_item"><a class="nav-link" href="#products">Ou acheter ?</a></li>
                        <li class="nav-item link_item"><a class="nav-link" href="#products">FAQ</a></li>
                        <li class="nav-item link_item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item link_item"><a class="nav-link" href="#portfolio">Contacter</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/login" method="POST">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Nom de compte" required />
                            <label for="username">Nom de Compte</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required />
                            <label for="password">Mot de Passe</label>
                        </div>
                        <%if (loginError) {%>
                <p>Le mot de passe est incorrect</p>
                <%}%>
                        </div>
                        <div class="modal-footer justify-content-center flex-column">
                            <input type="submit" class="btn btn-success col-5" value="se connecter">
                            <a href="" class="text-principal">Créer un compte</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</header>