<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page -->
    <div class="hero_pasta d-flex justify-content-center align-items-center">
        <h1 class="text-white">NOS PRODUITS</h1>
    </div>
    <!-- Products-->
    <section class="position-relative" id="products">
        <div class="badges">
            <div class="curved d-flex align-items-center justify-content-center position-relative">
                
                <h2 class="text-center text-white mt-0"> Nos pâtes et riz de konjac sont Made-in-France,
                    <br>sans gluten et sans sulfite.</h2>
            </div>
        </div>
        <div class="position-relative">
            <div class="container px-4 px-lg-5">
                <hr class="divider divider-light" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-4 col-md-6 text-center">
                        <a href="/product">
                            <div class="card border-0 rounded my-2 pos1" style="width: 350px;">
                                <div class="hover_product">
                                    <img src="/img/Paquet_Konjac.png" class="card-img-top bg-prod-green" alt="...">
                                    <div class="card-body bg-autre text-white">
                                        <h5 class="card-title">Nouilles de Konjac</h5>
                                        <p class="card-text">XX,XX€</p>
                                      </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <a href="/product">
                            <div class="card border-0 rounded my-2 pos1" style="width: 350px;">
                                <div class="hover_product">
                                    <img src="/img/Paquet_Konjac.png" class="card-img-top bg-prod-green" alt="...">
                                    <div class="card-body bg-autre text-white">
                                        <h5 class="card-title">Nouilles de Konjac</h5>
                                        <p class="card-text">XX,XX€</p>
                                      </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <a href="/product">
                            <div class="card border-0 rounded my-2 pos1" style="width: 350px;">
                                <div class="hover_product">
                                    <img src="/img/Paquet_Konjac.png" class="card-img-top bg-prod-green" alt="...">
                                    <div class="card-body bg-autre text-white">
                                        <h5 class="card-title">Nouilles de Konjac</h5>
                                        <p class="card-text">XX,XX€</p>
                                      </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="mt-4 col-lg-12 text-center">
                    <a class="btn text-white bg-autre btn-xl" href="/allproducts">Voir les Produits</a>
                </div> -->
            </div>
            <div class="position-absolute top-0 end-0 " style="width: 20%;">
                <img src="/img/all_product_Feuilles1.png" alt="" width="100%" >
            </div>
            <div class="position-absolute bottom-0 start-0 " style="width: 20%;">
                <img src="/img/all_product_Feuilles2.png" alt="" width="100%">
            </div>
        </div>
    </section>
    <!-- Bienfaits Konjac -->
    <section class="page-section">
        <div class="container">
            <div class="position-relative ">
                <div class="text-center"><img src="/img/all_product_konjac.png" alt="" width="250px"></div>
                <div class="px-5">
                    <h2 class="text-principal text-amita text-center">5 bonnes raisons de manger du konjac !</h2>
                    <h4 class="text-secondaire my-3 text-center">Le konjac possède bien des atouts  :</h4>
                    <div class="d-flex justify-content-center">
                        <ul class="list-unstyled text-autre">
                            <li>• Agir comme un véritable coupe-faim</li>
                            <li>• Perdre du poids</li>
                            <li>• Détoxifier l’organisme</li>
                            <li>• Lutter contre le mauvais cholestérol</li>
                            <li>• Lutter contre le diabète</li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <br><br>Alors faîtes-vous plaisir tout en vous faisant du bien ! 
                        <br>Régalez-vous de petits plats de pâtes et riz France-Konjac.<br>
                        <img src="/img/assiette_de_konjac.png" alt="" width="250px" class="my-5">
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>