<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page histoire -->
    <div class="hero_blog d-flex justify-content-center align-items-center">
    </div>
    <!-- section histoire -->
    <div class="badges">
        <div class="curved d-flex align-items-center justify-content-center position-relative">
            
            <h2 class="text-center text-white mt-0"> Une question ou une remarque ?
                <br>Écrivez-nous !</h2>
        </div>
    </div>
    <section class="page-section position-relative">
        <div class="twocol col-10 m-auto" style="margin-bottom: 200px !important; box-shadow: 0 2px 3px 0 #454f1f52;">
            <img src="/img/blog_img1.png" alt="">
            <div class="px-3 d-flex flex-column justify-content-center">
                <h3 class="text-secondaire text-amita">Le konjac : votre allié minceur !</h3>
                <p class="text-justify m-3">Vous souhaitiez affiner votre silhouette ou entamer une véritable perte de poids? Alors bienvenue sur notre blog ! Les régimes sont souvent synonymes de restriction, faim et de frustration. Connaissez-vous les aliments « minceur » permettant de concilier perte de poids,  goût et plaisir ?
                    <br>Votre principal allié se nomme : konjac !!! Ce tubercule est utilisé depuis des millénaires dans la cuisine traditionnelle....</p>
                <br><br><a href="#" class="fw-bold text-autre px-3">Lire la suite  ></a>
            </div>
        </div>
        <div class="twocol col-10 m-auto" style="margin-bottom: 200px !important; box-shadow: 0 2px 3px 0 #454f1f52;">
            <div class="px-3 d-flex flex-column justify-content-center">
                <h3 class="text-secondaire text-amita">Le konjac, un super aliment détox</h3>
                <p class="text-justify m-3">Une cure détox a pour vertu de purifier votre organisme, en éliminant les toxines que le corps accumule. La détox permettra de soulager et d'éviter l'inflammation des organes comme les reins, intestins, peau et foie.  
                    <br>Hydratez-vous en faisant le plein d’antioxydants et de fibres pour regagner du tonus et de l’énergie ! Résultat ? Un teint plus lumineux, moins de fatigue, un meilleur transit et une meilleure...</p>
                <br><br><a href="#" class="fw-bold text-autre px-3">Lire la suite  ></a>
            </div>
            <img src="/img/blog_img2.png" alt="">
        </div>
        <div class="twocol col-10 m-auto" style="margin-bottom: 200px !important; box-shadow: 0 2px 3px 0 #454f1f52;">
            <img src="/img/blog_img3.png" alt="">
            <div class="px-3 d-flex flex-column justify-content-center">
                <h3 class="text-secondaire text-amita">Avec le konjac, mangé équilibré</h3>
                <p class="text-justify m-3">Plus un aliment est transformé, plus il comporte de glucides et de lipides, contrairement au konjac.
                    <br>Il ne contient en effet pas de matières grasses (lipides) et pour les glucides, les valeurs nutritionnelles des pâtes de konjac affichent 8,4 g (pour 100g) dont seulement 0,5g de sucres. Autrement dit, les glucides du konjac ne sont que des bonnes calories qui vous permettront d’éviter les fringales....</p>
                <br><br><a href="#" class="fw-bold text-autre px-3">Lire la suite  ></a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
    
            <div class="d-flex justify-content-center align-items-center col-6">
                <a href="#" class="mx-4 bg-autre text-white text-center p-2" style="border-radius: 30px; width: 40px;">1</a>
                <a href="#" class="mx-4 text-autre" ">2</a>
                <a href="#" class="mx-4 text-autre" ">3</a>
                <a href="#" class="mx-4 text-autre" ">4</a>
                <a href="#" class="mx-4 text-autre" ">5</a>
                <a href="#" class="mx-4 text-autre" ">. . .</a>
    
            </div>
        </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>