<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page histoire -->
    <div class="hero_faq d-flex justify-content-center align-items-center">
        <h1 class="text-center text-uppercase text-white">FAQ</h1>
    </div>
    <!-- section histoire -->
    <div class="badges pos1">
        <div class="curved d-flex align-items-center justify-content-center position-relative pos1">
            
            <h2 class="text-center text-white mt-0">Nos réponses à vos questions</h2>
        </div>
    </div>
    <section class="page-section position-relative">
        <div class="container col-6 m-auto">
            <div class="mb-5">
                <h3 class="text-autre text-amita">• Le konjac</h3>
                <ul class="list-unstyled">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s1q1" aria-expanded="false" aria-controls="s1q1">
                            Quels sont les inconvénients du konjac ?
                          </button>
                        </h2>
                        <div id="s1q1" class="accordion-collapse collapse mb-4">
                          <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                            Des effets indésirables ? La consommation de konjac (et plus précisément de glucomannane) peut entraîner, dans de rares cas, une faible diarrhée, des gaz ou des sensations de lourdeur dans l'estomac. En cas de surdosage, les effets peuvent être plus lourds (occlusion intestinale, par exemple).
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s1q2" aria-expanded="false" aria-controls="s1q2">
                            Quels sont les bienfaits du konjac ?
                          </button>
                        </h2>
                        <div id="s1q2" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s1q3" aria-expanded="false" aria-controls="s1q3">
                            Est-ce que le konjac est un féculent ?
                          </button>
                        </h2>
                        <div id="s1q3" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s1q4" aria-expanded="false" aria-controls="s1q4">
                            Pourquoi le konjac sent mauvais ?
                          </button>
                        </h2>
                        <div id="s1q4" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="mb-5">
                <h3 class="text-autre text-amita">• Mon Compte</h3>
                <ul class="list-unstyled">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s2q1" aria-expanded="false" aria-controls="s2q1">
                            Comment créer un compte ?
                          </button>
                        </h2>
                        <div id="s2q1" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s2q2" aria-expanded="false" aria-controls="s2q2">
                            Comment accéder et modifier mon compte ?
                          </button>
                        </h2>
                        <div id="s2q2" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="mb-5">
                <h3 class="text-autre text-amita">• Ma commande</h3>
                <ul class="list-unstyled">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q1" aria-expanded="false" aria-controls="s3q1">
                            Comment commander ?
                          </button>
                        </h2>
                        <div id="s3q1" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q2" aria-expanded="false" aria-controls="s3q2">
                            Que se passe-t-il une fois que j’ai commandé en ligne ?
                          </button>
                        </h2>
                        <div id="s3q2" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q3" aria-expanded="false" aria-controls="s3q3">
                            J’ai interrompu ma commande en ligne, ma commande sera-t-elle enregistrée ?
                          </button>
                        </h2>
                        <div id="s3q3" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q4" aria-expanded="false" aria-controls="s3q4">
                            Mon paiement a été refusé
                          </button>
                        </h2>
                        <div id="s3q4" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q5" aria-expanded="false" aria-controls="s3q5">
                            Je souhaite ajouter un article
                          </button>
                        </h2>
                        <div id="s3q5" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q6" aria-expanded="false" aria-controls="s3q6">
                            Comment puis-je annuler ma commande ? J’ai déjà effectué le paiement.
                          </button>
                        </h2>
                        <div id="s3q6" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q7" aria-expanded="false" aria-controls="s3q7">
                            Quels sont les modes de paiements ?
                          </button>
                        </h2>
                        <div id="s3q7" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s3q8" aria-expanded="false" aria-controls="s3q8">
                            Le paiement en ligne est sécurisée ?
                          </button>
                        </h2>
                        <div id="s3q8" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="mb-5">
                <h3 class="text-autre text-amita">• Livraison</h3>
                <ul class="list-unstyled">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s4q1" aria-expanded="false" aria-controls="s4q1">
                            Quels sont les modes de livraison ?
                          </button>
                        </h2>
                        <div id="s4q1" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s4q2" aria-expanded="false" aria-controls="s4q2">
                            Le colis que j’ai reçu est endommagé
                          </button>
                        </h2>
                        <div id="s4q2" class="accordion-collapse collapse mb-4">
                            <div class="accordion-body bg-autre-border rounded text-justify" style="border-top: none !important; border-left: none !important; border-right: none !important;">
                             À venir !
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <h3 class="text-autre text-amita">• Une autre question, remarque, avis ?</h3>

            <div class="m-auto bg-autre text-center mt-5 px-3 py-2" style="width: 175px; border-radius: 30px;"><a href="" class="text-white">Contactez-nous</a></div>
        </div>
        <img src="/img/all_product_Feuilles1.png" alt="" width="15%" class="position-absolute top-0 end-0" style="transform: translate(-50px, -145px) rotate(162deg);">
        <img src="/img/all_product_Feuilles2.png" alt="" width="15%" class="position-absolute bottom-0 start-0" style="transform: translate(0px, 45px) rotate(162deg);">
    </section>
</main>
<%- include('../common/footer.ejs') %>