<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page histoire -->
    <div class="hero_histoire d-flex justify-content-center align-items-center">
        <h1 class="text-white text-center">NOTRE HISTOIRE</h1>
    </div>
    <!-- section histoire -->
    <section class="page-section position-relative" id="histoire">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="text-secondaire">2015</h2>
            <h2 class="text-center text-principal text-amita mt-0"> Début de l'aventure !</h2>
            <hr class="divider divider-light" />
            <div class="mt-5">
                <div class="position-relative d-flex justify-content-center align-items-center">
                    <img src="/img/fondatrice.png" alt="" width="750px" height="500px" style="z-index: 1;">
                    <img src="/img/all_product_Feuilles1.png" alt="" width="20%" class="position-absolute" style="transform: translate(-375px, -230px) rotate(236deg);">
                    <img src="/img/all_product_Feuilles2.png" alt="" width="20%" class="position-absolute" style="transform: translate(375px, 230px) rotate(236deg);">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="w-50">
                    <div class="text-center">
                        <p class="text-justify">Bonjour, je m’appelle <span class="fw-bold">Nhung Nguyen Deroche</span> et je suis Docteur en Biologie végétale. Lors de mes études, je me suis naturellement intéressée à la culture du konjac, aliment traditionnel dans la cuisine asiatique.

                            <br><br>En 2015, j’ai réalisé que les produits issus de konjac étaient tous importés d’Asie. C’est alors que l’idée m’est venue de développer une filière agricole de konjac et produire des pâtes de konjac françaises.
                            </p>
                    </div>
                </div>
            </div>
    </section>
    
</main>
<%- include('../common/footer.ejs') %>