<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page histoire -->
    <div class="hero_ouacheter d-flex justify-content-center align-items-center">
    </div>
    <!-- section histoire -->
    <div class="badges">
        <div class="curved d-flex align-items-center justify-content-center position-relative">
            
            <h2 class="text-center text-white mt-0"> Vous cherchez un magasin  proche chez vous
                <br>où sont vendus nos produits ?</h2>
        </div>
    </div>
    <section class="page-section position-relative">
        <div class="container px-4 px-lg-5 text-center">
            <div class="m-auto col-6 mb-5">
                <input type="search" class="form-control" placeholder="Rechercher un magasin..." aria-label="Search" style="border-radius: 30px;"/>
            </div>
            <img src="/img/magazinmap.png" alt="">
    </section>
    <section class="page-section position-relative">
    <p class="text-center text-principal text-amita mt-0"> Retrouvez nos produits chez nos partenaires : !</p>
            
    <div class="d-flex justify-content-center mt-5">
        <div class="threecol col-6 align-items-center">
            <img src="/img/logo_leclerc.png" alt="" width="150px">
            <img src="/img/logo_carrefour.png" alt="" width="150px">
            <img src="/img/logo_monoprix.png" alt="" width="150px">
            
        </div>
    </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>