<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page -->
    <div class="hero_pasta d-flex justify-content-center align-items-center">
        <h1 class="text-white">NOUILLES DE KONJAC</h1>
    </div>
    <!-- Products-->
    <section class="page-section position-relative">
        <div class="container">
            <div class="col_one_two px-4 px-lg-5">
                <!-- product img -->
                <div class="w-100">
                    <div class="text-center">
                            <img src="/img/Paquet_Konjac.png" alt="">
                    </div>
                    <div class="row my-3 justify-content-around">
                        <div class="col-4 text-center">
                            <img src="/img/Paquet_Konjac.png" alt="" width="100%">
                        </div>
                        <div class="col-4 text-center">
                            <img src="/img/Paquet_Konjac.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
                <!-- product info -->
                <div class="px-5">
                    <h2>Nouilles de Konjac 200g/net</h2>
                    <div class="twocol col-6 align-items-center mb-3">
                        <div class="price text-center" style="font-size: 35px;">19,90€</div>
                        <div class="note"><img src="/img/noteproduct.svg" alt=""></div>
                    </div>
                    <div class="">
                        <img src="/img/productPicto.svg" alt="">
                    </div>
                    <div class="mt-5 text-autre">
                        <p class="text-autre"> <span class="fw-bold">Ingrédients :</span> Eau, 3% de farine de konjac, hydroxyde de calcium.</p>
                        <br><p class="fw-bold">Nos pâtes et riz de konjac sont :</p>
                        <ul class="list-unstyled">
                            <li>• hypocaloriques - 15 KCAL pour 100G</li>
                            <li>• Sans gluten</li>
                            <li>• Riches en fibres</li>
                            <li>• À faible indice glycémique</li><br>
                        </ul>
                    </div>
                    <div class="col_one_two my-3">
                        <button class="w-100 rounded-pill bg-transparent">
                            <div class="d-flex flex-row align-items-center justify-content-around p-2 text-autre">
                                <span> - </span>
                                <p class="m-0">1</p>
                                <span> + </span>
                            </div>
                        </button>
                        <button class="w-100 rounded-pill p-2 bg-autre text-white"><img src="/img/icon/panier-shopv3.png" alt="" width="20px" class="mx-2"> Ajouter au panier</button>
                    </div>
                    <button class="w-100 rounded-pill p-2 bg-principal-border text-principal"><img src="/img/icon/panier-shopv3.png" alt="" width="20px" class="mx-2 text-uppercase"> Acheter maintenant</button>

                </div>
            </div>
        </div>
    </section>
    <!-- Bienfaits Konjac -->
    <section class="page-section bg-secondaire position-relative" style="overflow: hidden;">
        <div class="container text-white">
            <div class="position-relative ">
                <div class="px-5 text-center">
                    <h2 class="text-amita">Comment cuisiner vos pâtes de konjac ? !</h2>
                    <p class="pt-5">Facile à préparer, il vous suffit de rincer les pâtes ou le riz de konjac sous l'eau. 
                        <br>Faîtes les revenir 2 minutes dans une poêle chaude avec un fond d’huile.
                        <br>Et rajoutez  les ingrédients de votre choix (légumes, viande, poisson).
                        <br>
                        <br><span class="fw-bold">Régalez-vous !</span></p>
                </div>
            </div>
        </div>
        <div class="position-absolute top-0 end-0 " style="width: 18%; transform: rotate(-125deg) translate(0px, 70px)">
            <img src="/img/Illustration_feuilles2.svg" alt="" width="100%">
        </div>
        <div class="position-absolute bottom-0 start-0 " style="width: 18%; transform: rotate(45deg) translate(-41px, 90px)">
            <img src="/img/Illustration_feuilles1.svg" alt="" width="100%">
        </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>