<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page -->
    <div class="hero_recette_info d-flex justify-content-center align-items-center">
        <h1 class="text-white text-uppercase">Nouilles de konjac au saumon</h1>
    </div>
    <!-- RECETTES-->
    <section class="page-section position-relative" style="overflow: hidden;">
        <div class="text-principal d-flex text-center fw-bold justify-content-center">
            <h4 class="mx-4"><img src="/img/food_icon.svg" alt="" width="35px"> Pour 2 personnes</h4>
            <h4 class="mx-4"><img src="/img/time_icon.svg" alt="" width="35px"> 15 min de préparation</h4>
        </div>
    </section>
    <section class="page-section bg-secondaire position-relative" style="overflow: hidden;">
        <div class="container twocol">
            <div class="mx-5 text-white">
                <h2 class="text-uppercase mx-5 mb-3">Ingrédients</h2>
                <div class="mx-5 mb-5">
                    <ul>
                        <li>400 g de pâtes de konjac</li>
                        <li>2 tranches de saumon fumé</li>
                        <li>20 cl de crème fraîche épaisse</li>
                        <li>1/2 courgette</li>
                        <li>1/2 oignon</li>
                        <li>1 cueillère à café d’huile de tournel ou du beurre</li>
                        <li>Du poivre</li>
                        <li>1 petite pincée de sel</li>
                    </ul>
                </div>
                <div class="text-center">
                    <img src="/img/foodPasta.svg" alt="">
                </div>
            </div>
            <div class="mx-5 text-white">
                <h2 class="text-uppercase mx-5 mb-3">Préparation</h2>
                <div class="mx-5 mb-5">
                   <p><span class="fw-bold text-decoration-underline">Etape 1 :</span> Rincer les pâtes de konjac à l’eau froide
                    et réserver dans l’égoutoir.</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 2 :</span> Coupez en petits morceaux les oignons
                    et les courgettes en rondelles.</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 3 :</span> Faites les revenir dans une poêle avec un peu de matière grasse</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 4 :</span> Ajouter la crème fraiche, le sel et le poivre.</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 5 :</span> Laisser épaissir la sauce</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 6 :</span> Ajouter les pâtes de konjac bien égouttées et laisser cuire 2 minutes</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 7 :</span> Rajouter le saumon en petits morceaux.</p>
                   <p><span class="fw-bold text-decoration-underline">Etape 8 :</span> Bien mélanger le tout.</p>
                   <h3 class="text-amita mt-5">C'est prêt, régalez-vous !</h3>
                </div>
            </div>
        </div>
        <div>
            <img class="position-absolute bottom-0 start-0" src="/img/ri_f1.svg" alt="" width="300px" style="transform: translate(0, 105px);">
            <img class="position-absolute top-0 end-0" src="/img/ri_f2.svg" alt="" width="300px" style="transform: translate(0, -105px);">
        </div>
    </section>
    <section class="page-section position-relative" style="overflow: hidden;">
        <div class="text-center">
            <h2 class="text-uppercase">Avis Client</h2>
            <img src="/img/stars-template.svg" alt="4 étoiles de notation" width="100px">
        </div>
        <div class="container twocol my-5 position-relative" style="justify-items: center;">
            <div class="card_avis my-5 py-2 px-3 bg-white pos1">
                <div class="d-flex mb-3"><span class="text-secondaire fw-bold">T.Vreur</span> <img class="mx-3" src="/img/5stars.svg" alt="Notation client" width="100px"></div>
                <div>Excellents produits, soigneusement emballés pour le transport, expédition rapide.</div>
            </div>
            <div class="card_avis my-5 py-2 px-3 bg-white pos1">
                <div class="d-flex mb-3"><span class="text-secondaire fw-bold">M.Dame</span> <img class="mx-3" src="/img/4stars.svg" alt="Notation client" width="100px"></div>
                <div>Livraison rapide !</div>
            </div>
            <div class="card_avis my-5 py-2 px-3 bg-white pos1">
                <div class="d-flex mb-3"><span class="text-secondaire fw-bold">C.Brun</span> <img class="mx-3" src="/img/5stars.svg" alt="Notation client" width="100px"></div>
                <div>Je recommande le produit. Très efficace et expédition rapide.</div>
            </div>
            <div class="card_avis my-5 py-2 px-3 bg-white pos1">
                <div class="d-flex mb-3"><span class="text-secondaire fw-bold">C.Dela</span> <img class="mx-3" src="/img/4stars.svg" alt="Notation client" width="100px"></div>
                <div>les produits sont de qualité.</div>
            </div>
            <div class="z">
                <img class="position-absolute top-0 start-0" src="/img/avis_f1.png" alt="" width="200px">
                <img class="position-absolute bottom-0 end-0" src="/img/avis_f2.png" alt="" width="200px">
            </div>
        </div>
               
    </section>
    <section class="page-section position-relative" style="overflow: hidden;">
        <h2 class="text-center text-amita">Nos autres recettes</h2>
        <div class="threecol text-center my-5">
            <div class="position-relative d-flex justify-content-center align-items-center">
                <img src="/img/foodPasta.svg" alt="">
                <div class="position-absolute bottom-0 end-0">
                    <a href="/recette/info">
                        <img src="/img/foodPastaEtiquette.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="position-relative d-flex justify-content-center align-items-center">
                <img src="/img/foodRice.svg" alt="">
                <div class="position-absolute bottom-0 end-0">
                    <a href="/recette/info">
                        <img src="/img/foodRiceEtiquette.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="position-relative d-flex justify-content-center align-items-center">
                <img src="/img/foodRice.svg" alt="">
                <div class="position-absolute bottom-0 end-0">
                    <a href="/recette/info">
                        <img src="/img/foodRiceEtiquette.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>