<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">
    <div class="nav-content"></div>
    
    <!-- hero de la page -->
    <div class="hero_pasta d-flex justify-content-center align-items-center">
        <h1 class="text-white">NOS RECETTES</h1>
    </div>
    <!-- RECETTES-->
    <section class="page-section position-relative" id="products">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center text-autre mt-0 text-secondaire"> Découvrir nos idées de recettes pour déguster nos pâtes et riz konjac</h2>
            <hr class="divider divider-light" />
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h2>Vos Préférences</h2>
                <ul class="list-unstyled d-flex">
                    <a href="" class="m-3  bg-secondaire-border rounded"><li class="m-2 mx-3 text-secondaire">Sucré</li></a>
                    <a href="" class="m-3  bg-secondaire-border rounded"><li class="m-2 mx-3 text-secondaire">Salé</li></a>
                    <a href="" class="m-3  bg-secondaire-border rounded"><li class="m-2 mx-3 text-secondaire">Végétarien</li></a>
                </ul>
            </div>
            <div class="">
                <div class="twocol text-center my-5">
                    <div class="position-relative d-flex justify-content-center align-items-center">
                        <img src="/img/foodPasta.svg" alt="">
                        <div class="position-absolute bottom-0 end-0">
                            <a href="">
                                <img src="/img/foodPastaEtiquette.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="position-relative d-flex justify-content-center align-items-center">
                        <img src="/img/foodRice.svg" alt="">
                        <div class="position-absolute bottom-0 end-0">
                            <a href="">
                                <img src="/img/foodRiceEtiquette.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="twocol text-center my-5">
                    <div class="position-relative d-flex justify-content-center align-items-center">
                        <img src="/img/foodPasta.svg" alt="">
                        <div class="position-absolute bottom-0 end-0">
                            <a href="">
                                <img src="/img/foodPastaEtiquette.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="position-relative d-flex justify-content-center align-items-center">
                        <img src="/img/foodRice.svg" alt="">
                        <div class="position-absolute bottom-0 end-0">
                            <a href="">
                                <img src="/img/foodRiceEtiquette.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
<%- include('../common/footer.ejs') %>